[submodule "available_mcps/ShellMCP"]
	path = available_mcps/ShellMCP
	url = git@github.com:YakupAtahanov/super-shell-mcp.git
	branch = feature/Python-SDK
[submodule "available_mcps/FileSystemMCP"]
	path = available_mcps/FileSystemMCP
	url = git@github.com:calebmwelsh/file-system-mcp-server.git
